%h1 Examples

%h2 Single-select


.columns
  .column
    %h3 Select tag
    = select_tag 'color', options_from_collection_for_select(@tags, 'id', 'name'), data: {toggle: 'plush'}
  .column
    %pre


.columns
  .column
    %h3 Select tag with placeholder
    = select_tag 'color', options_from_collection_for_select(@tags, 'id', 'name'), placeholder: "Choose you're favorite color ...", data: {toggle: 'plush'}
  .column
    %pre

.columns
  .column
    %h3 Select tag with source
    = select_tag 'color', nil, placeholder: "Choose you're favorite color ...", data: {toggle: 'plush', label: 'name', url: tags_path}
  .column
    %pre

.columns
  .column
    %h3 Select tag with source and query
    = select_tag 'color', nil, placeholder: "Choose you're favorite color ...", data: {toggle: 'plush', label: 'name', url: search_tags_path, query: ''}
  .column
    %pre

.columns
  .column
    %h3 Select tag with source and query with preloading
    = select_tag 'color', nil, placeholder: "Choose you're favorite color ...", data: {toggle: 'plush', label: 'name', url: search_tags_path, query: '', preload: true}
  .column
    %pre

.columns
  .column
    %h3 Select tag with custom template
    %select{name: 'user', placeholder: "Choose a user ...", data: {toggle: 'plush', list_item_template: 'plush_image_list_item'}}
      %option{value: 1, data: {description: 'test1@example.com', image: asset_path('email1.png')}} John Johnson
      %option{value: 2, data: {description: 'test2@example.com', image: asset_path('email2.png')}} Jake Johnson
      %option{value: 3, data: {description: 'test3@example.com', image: asset_path('email3.png')}} Jules Jenson
      %option{value: 4, data: {description: 'test4@example.com', image: asset_path('email4.png')}} Jill Jenson
  .column
    %pre

.columns
  .column
    = handlebars_template 'color_list_item' do
      %li.plush-list-item.plush-colorbox{ data:{value: dstash('value'), label: dstash('label') }}
        %a{href: '#'}
          .colorbox{style: "background-color: #{tstash('color')}"}
          %span.title= tstash('name')
          %span.description
            Hex code:
            = tstash('color')

    %h3 Select tag with custom template from source + query
    = select_tag 'color', nil, placeholder: "Choose you're favorite color ...", data: {toggle: 'plush', label: 'name', url: search_tags_path, query: '', list_item_template: 'color_list_item'}
  .column
    %pre

%h2 Optgroups
.columns
  .column
    %h3 Select tag with optgroup
    = select_tag 'color', option_groups_from_collection_for_select(Group.all, :tags, :name, :id, :name), placeholder: "Choose you're favorite color ...", data: {toggle: 'plush'}
  .column
    %pre

.columns
  .column
    %h3 Select tag with optgroup from source + query
    = select_tag 'color', option_groups_from_collection_for_select(Group.all, :tags, :name, :id, :name), placeholder: "Choose you're favorite color ...", data: {toggle: 'plush', url: search_grouped_tags_path, query: ''}
  .column
    %pre

%h2 Multi-select
.columns
  .column
    %h3 Select tag
    = select_tag 'color', options_from_collection_for_select(@tags, 'id', 'name'), placeholder: "Choose you're favorite color ...", multiple: 'multiple', data: {toggle: 'plush'}
  .column
    %pre

.columns
  .column
    %h3 Select tag with checked options
    = select_tag 'color', options_from_collection_for_select(@tags, 'id', 'name', [2, 4, 8]), multiple: 'multiple', data: {toggle: 'plush'}
  .column
    %pre

.columns
  .column
    %h3 Select tag with drag & drop
    = select_tag 'color', options_from_collection_for_select(@tags, 'id', 'name', [3, 5, 9]), multiple: 'multiple', data: {toggle: 'plush', drag_drop: true}
  .column
    %pre

.columns
  .column
    %h3 Select tag with query
    = select_tag 'color', nil, multiple: 'multiple', data: {toggle: 'plush', url: search_tags_path, query: ''}, placeholder: "Choose you're favorite color ..."
  .column
    %pre

.columns
  .column
    %h3 Select tag with query and drag & drop
    = select_tag 'color', nil, multiple: 'multiple', data: {toggle: 'plush', url: search_tags_path, query: '', drag_drop: true}, placeholder: "Choose you're favorite color ..."
  .column
    %pre