%h1 Examples

%h2 Single-select


.columns
  .column
    %h3 Select tag
    = select_tag 'color', options_from_collection_for_select(@tags, 'id', 'name'), data: {toggle: 'plush-autocomplete'}
  .column
    %pre


.columns
  .column
    %h3 Select tag with placeholder
    = select_tag 'color', options_from_collection_for_select(@tags, 'id', 'name'), placeholder: "Choose you're favorite color ...", data: {toggle: 'plush-autocomplete'}
  .column
    %pre

.columns
  .column
    %h3 Select tag with source
    = select_tag 'color', nil, placeholder: "Choose you're favorite color ...", data: {toggle: 'plush-autocomplete', label: 'name', source: tags_path}
  .column
    %pre

.columns
  .column
    %h3 Select tag with source and query
    = select_tag 'color', nil, placeholder: "Choose you're favorite color ...", data: {toggle: 'plush-autocomplete', label: 'name', source: search_tags_path, query: ''}
  .column
    %pre

.columns
  .column
    %h3 Select tag with custom template
    %select{name: 'user', placeholder: "Choose a user ...", data: {toggle: 'plush-autocomplete', template: 'autocomplete_image_list_item'}}
      %option{value: 1, data: {description: 'test1@example.com', image: asset_path('email1.png')}} John Johnson
      %option{value: 2, data: {description: 'test2@example.com', image: asset_path('email2.png')}} Jake Johnson
      %option{value: 3, data: {description: 'test3@example.com', image: asset_path('email3.png')}} Jules Johnson
      %option{value: 4, data: {description: 'test4@example.com', image: asset_path('email4.png')}} Jill Johnson
  .column
    %pre

.columns
  .column
    = handlebars_template 'color_list_item' do
      %li.plush-list-item.plush-colorbox{ data:{id: tstash('id'), label: tstash('label') }}
        %a{href: '#'}
          .colorbox{style: "background-color: #{tstash('color')}"}
          %span.title= tstash('name')
          %span.description
            Hex code:
            = tstash('color')

    %h3 Select tag with custom template from source
    = select_tag 'color', nil, placeholder: "Choose you're favorite color ...", data: {toggle: 'plush-autocomplete', label: 'name', source: search_tags_path, query: '', template: 'color_list_item'}
  .column
    %pre

.columns
  .column
    %h2 Multi-select 